/* Default styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin:auto
}

.ham{
    display: none;
}

.left,.right{
    width: 10%;
}

.top{
    display: flex;
    max-width: 1360px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin:auto
}

.top-container-items{
    display: flex;
}

.top-container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-items{
    display: flex;
}

.top-text{
    height: fit-content;
    margin-right: 24px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: #838E9E;
}

.top-text:hover{
    color: #0B63E5;
}

.logo{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.logotext{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-right: 24px;
    color: #061C3D;
}

.logoicon{
    margin-right: 12px;
}

.top-items{
    display: flex;
    align-items: center;
}


.line{
    margin-right: 24px;
    margin-top: 10px;
}

.button-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.button:first-child{
    background-color: #f0f5ff;
    color: #0B63E5;
}

.button:first-child:hover{
    background-color: #e0e6f0;
}

.button:last-child{
    background-color: #0B63E5;
    color: white;
}

.button:last-child:hover{
    background-color: #0c5cd3;
}

.button{
    margin-right: 24px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}


.main-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 72px;
    width: 60%;
    margin-top:100px;
    color: #061C3D;
}

.sub-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 648px;
    margin-top:32px;
    line-height: 28px;
    color: #061C3D;
}

.tick-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top:32px;
}

.tickmark{
    display: flex;
    margin-bottom: 16px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#0F9918;
}

.tickmark:nth-child(odd){
    width:280px
}

.tick{
    margin-right:8px;
}

.content-buttons{
    display: flex;
    flex-direction: row;
    margin-top:32px;
}

.tag{
    position: relative;
    left: -190px;
    margin-top:5px;
}

.content-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}



.content-image{
    z-index: -1;
    position: absolute;
    right:0px;
}

.info-img{
    width:100%
}


                                /* FEATURES */
.features{
    display: flex;
    flex-direction: column;
    margin-top:310px;
    padding: 10px;
}

.feature-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature-image{
    display: inline;
    margin-right: 56px;
}
.main-text.small-text{
    margin-top: 0;
    font-size: 50px;
    width: 616px;
    font-weight: 600;
    line-height: 60px;
    kerning: -1.5%;
    text-align: center;
}
.sub-text.small-text{
    width: 312px;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.feature-row2{
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.box1-color{
    background-color: #f0f5ff;

}

.box2-color{
    background-color: #FEEDFA;
    /* color: #7534FF; */
}

.box3-color{
    background-color: #F5F6F7;
}

.box-header{
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #061C3D;
}

.box-subtext{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #42526B;
}

.box{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 24px;
    border-radius: 16px;
    padding: 32px;
    margin-top: 24px;
}
.box-image{
    width: 140px;
    height: 140px;
}

.box-learnmore{
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 196px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    border-radius: 7px;
    color: #0B63E5;
}
.box-button{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 12px;
}
.box-button2{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 12px;
    color: #7534FF;
}
.box-button3{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 12px;
    color: #061C3D;
}
.last-line{
    display: flex;
    justify-content: center;
}
/* .arrow{
    fill:#061C3D;
    filter: invert(27%) sepia(70%) saturate(7490%) hue-rotate(254deg) brightness(107%) contrast(106%);
}                               PORTFOLIO */
.portfolio-main{
    margin-top: 124px;
    padding-bottom: 124px;
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
    padding-left: 10px;
    padding-right: 10px;
}
.portfolio-main > .main-text, .team>.main-text{
    font-size: 56px;
    margin-top: 124px;
    width: 100%;
    text-align: center;
}
.portfolio-main > .sub-text, .team>.sub-text{
    width: 100%;
    text-align: center;
    margin-top:24px;
    margin-bottom: 72px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #42526B;
}
.portfolio-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
}
.portfolio{
    display: flex;
    flex-direction: column;
}
.port-img{
    width: 100%;
}


.port-header{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 14px;
    color: #061C3D;
}

.casestudy{
    display: flex;
    flex-direction: row;
    color: #0B63E5;
}

.case-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 8px;
}
                                        /* TESTIMONIAL */
.testimonial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}



.subtext-contain{
    border-left: 3px solid #0B63E5;
    padding-left: 24px;
}

.testimonial-col1>.main-text{
    font-size: 56px;
    width: 648px;
    margin-top: 156px;
    margin-bottom: 48px;
}

.testimonial-col1>.sub-text{
    line-height: 32px;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
}

.quotes{
    margin-top: 16px;
}

.testimonial-buttons{
    margin-top:48px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.testimonial-img{
    width: 536px;
    height: 536px;
    margin-top:124px;
    margin-bottom: 124px;
    margin-left: 81px;
}

@media screen and (max-width:700px) {
    .testimonial-col1>.main-text{
        font-size: 56px;
        width: 648px;
        margin-top: 156px;
        margin-bottom: 48px;
        text-align: center;
    }
    
    .testimonial-col1>.sub-text{
        line-height: 32px;
        font-weight: 300;
        font-size: 24px;
        font-style: normal;
        text-align: center;
    }
}
                                        /* TEAM */

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.team-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.img-bg{
    width: 312px;
    height: 424px;
}
.green{
    background-color: #CFEBD1;
}
.purple{
    background-color: #E3D6FF;
}
.yellow{
    background: #FFE9BD;
}
.blue{
    background: #CEE0FA;
}

.team-name{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top:24px;
    margin-bottom: 8px;
    color: #061C3D;
}

.team-pos{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#6A778B;
}
.button-round{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top:72px;
    margin-bottom:124px;
}
                                    /* COMPANY */
.company{
    margin-bottom: 124px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

                                    /* CALL TO ACTION */
.calltoaction{
    display: flex;
    flex-direction: row;
    background: #061C3D;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    
}

.call-column>.main-text{
    font-size: 56px;
    color: white;
    width: 600px;
    margin-bottom:40px;
    margin-top: 173px;
}

.call-column>.sub-text{
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    margin-bottom:40px;
    line-height: 26px;
    
}
.call-img{
    margin:72px 134px 0px 0px;
}
.call-button{
    display: flex;
    color: white;
    font-family: 'Lexend', sans-serif;
    background: #0B63E5;
    width: fit-content;
    height: 56px;
    padding-left:32px;
    padding-right: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 46px;
}
.call-text-button{
    margin-right:12px;
}
@media screen and (max-width:1318px){
    
    .call-column>.main-text{
        font-size: 56px;
        color: white;
        width: 600px;
        margin-bottom:40px;
        margin-top: 100px;
    }
}

                                         /* FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    padding-top:114px;
    margin-bottom:124px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
}
.footer-column
{
    margin-top: 20px;
}
.footer-column>.sub-text{
    color: #6A778B;
}
.mode{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.lightmode,.darkmode{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.lightmode{
    color: #061C3D;
}
.darkmode{
    color: #9BA4B1;
}

.footer-head{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color:#061C3D;
}

.footer-link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 84px;
}

.links{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #838E9E;
    margin-bottom:12px;
}
.icons{
    margin-bottom: 12px;
}
                                    /* copyrigt */
.copyright{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top:32px;
    padding-bottom:32px;
    color: #061C3D;
}

@media screen and (max-width:1100px) {
    .top-items
    {display: none;}
    .tag
    {display: none;}

    .ham
    {
    display: block;
    width: 5%;
    }
    .top-container-buttons
    {display: none;} 
}

@media screen and (max-width:650px) {
     .top-container-buttons
    {display: none;} 
    
     .sub-text
    {width: 100%;} 

    
    .testimonial-img
    {    width: 70%;
        height: 70%;
        margin-top: 20px;
        margin-bottom: 20px;}
    
    .call-column>.main-text
    {width: 100%;}

    .call-img 
    { margin: 0px 0px 0px 0px;
      width: 100%; }

    .testimonial-col1>.main-text
    { width: 100%;}  

    .box
    { margin-right: 0px;}

    .main-text {
        font-family: 'Lexend', sans-serif;
        font-weight: 600;
        font-size: 5vmax;
        width: 60%;
        margin-top: 30px;
        color: #061C3D;
    }
    .features {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    
}

@media screen and (max-width:1500px)
{ 
    .content-image {
        z-index: 0;
        position: relative;
        right: 0px;
    }

    .content-subcontainer>.main-text{
        width: 100%;
    }

    .content-subcontainer>.sub-text{
        width: 100%;
    }
    .tag{
        display: none;
    }
}
